<div class="page">

  <div class="delete-vehicle-card">

    <!-- HEADER -->
    <div class="card-header">
      <h1>My Vehicles</h1>
    </div>

    <!-- LIST -->
    <div class="profile-container">

      @if (vehicles().length === 0) {
        <p class="empty">No vehicles found</p>
      }
      @else {

        @for (v of vehicles(); track v.vehicleId) {

          <div class="info-row">

            <!-- LEFT SIDE -->
            <div class="vehicle-info">
              <b>{{ v.make }} {{ v.model }}</b><br>
              Year: {{ v.year }} <br>
              {{ v.registrationNumber }}
            </div>

            <!-- RIGHT SIDE BUTTONS -->
            <div class="action-buttons">

              <!-- <button
                type="button"
                class="btn-edit"
                [routerLink]="['/update-vehicle', v.vehicleId]">
                Update
              </button> -->

              @if (v.vehicleId) {
                <button
                  type="button"
                  class="btn-delete"
                  (click)="deleteVehicle(v.vehicleId!)">
                  Delete
                </button>
              }

            </div>

          </div>

        }

      }

    </div>

  </div>

</div>
