<div class="main-card">
  <div class="card-header">
    <h1>Welcome Back</h1>
    <p>Please login with your credentials</p>
  </div>

  <div class="container">
    <div class="login-box">
      <h2>Owner Login</h2>

      <form #loginForm="ngForm" (ngSubmit)="HandleLogin(loginForm)">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="Email" [(ngModel)]="login.Email" #email="ngModel"
            placeholder="example@mail.com" required pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />

          <div class="error" *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.['required']">Email is required</small>
            <small *ngIf="email.errors?.['pattern']">Enter a valid email address</small>
          </div>
        </div>


        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="Password" [(ngModel)]="login.Password" #password="ngModel"
            placeholder="Enter your password" required minlength="6" />

          <div class="error" *ngIf="password.invalid && password.touched">
            <small *ngIf="password.errors?.['required']">Password is required</small>
            <small *ngIf="password.errors?.['minlength']">
              Minimum 6 characters required
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="isLoading || loginForm.invalid">
          {{ isLoading ? 'Logging in...' : 'Login' }}
        </button>

      </form>

      <div class="links">
        <p>Don't have an account?
          <a (click)="goToRegister()" class="Link">Register</a>
        </p>
      </div>
    </div>

    <div class="image-box">
      <img src="assets/service-center.png" alt="Service Center" />
    </div>
  </div>
</div>