<nav class="navbar">
  <div class="nav-brand">
    <span (click)="goHome()" style="cursor:pointer">🚗 ServiceIt</span>
  </div>

  <div class="nav-links">

    <span class="welcome" *ngIf="isLoggedIn">Welcome, {{ userName }}!</span>

    <a (click)="goToProfile()" class="nav-link" *ngIf="isLoggedIn && !isOwner">Profile</a>
    <a (click)="goToDashboard()" class="nav-link" *ngIf="isLoggedIn && isOwner">Dashboard</a>
    <button class="logout-btn" (click)="logout()" *ngIf="isLoggedIn">Logout</button>

  </div>
</nav>